*{
    margin: 0px auto;
    padding: 0px auto;
}

.disable_transitions_anims div {
    animation: none !important;
    }

#container{
    width: 900px;
    min-height: 760px;
    border: 1px solid black;
}

#carContainer{
    margin: 0px auto;
    margin-top: 50px;
    padding: 0px auto;
    width: 750px;
    min-height: 200px;
}

/* Car info css */
.car{
    position: relative;
    padding:0px;
    width: 246px;
    height: 100px;
    float:left;
}

.flip_container{
    position: relative;
    perspective: 1000px;
    width:100%;
    height: 100%;
}

.car .info{
    position: absolute;
    left:50%;
    margin-left: -100px;
    width:200px;
    height: 80px;
    border: 2px solid black;
    border-radius: 5px;
}

.car .flippedInfo{
    position: absolute;
    left:50%;
    margin-left: -100px;
    width:200px;
    height: 80px;
    border: 2px solid black;
    border-radius: 5px;
}
/* Selected item */
.selected .info, .selected .flippedInfo{
    background: rgba(0, 255, 0, 0.3);
}

/* End selected item */
/* Flipping */

/* Initial flip only after clicked button once*/
.front{
    animation: to_front 0.2s linear normal forwards;
}

.back{
    animation: to_back 0.2s linear normal forwards;
}

.front {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    z-index: 1;
}

.back{
    background: rgba(0, 0, 0, 0.1);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateX(180deg);
}

.back p{
    font-size:12px;
    margin:5px;
}

.vertical.flip_container:hover .front {
    animation: to_back 0.2s linear normal forwards;
}

.vertical.flip_container:hover .back{
    animation: to_front 0.2s linear normal forwards;
}

@keyframes to_back{
    0%{
        transform:rotateX(0deg);
    }
    100% {  
        transform:rotateX(180deg)
    }
}

@keyframes to_front{
    0% {
        transform:rotateX(180deg);
    }
    100%{
        transform:rotateX(0deg)
    }
}

/* End flipping */


/* First 3 childs and the rest positioning */
.car:nth-child(-n+3) .info{
    top:0px 
}

.car:nth-child(n+4) .info{
    bottom: 0px;
}

.car:nth-child(-n+3) .flippedInfo{
    top:0px 
}

.car:nth-child(n+4) .flippedInfo{
    bottom: 0px;
}

.car:nth-child(-n+3){
    border-bottom:2px solid black;
}
.car:nth-child(-n+2){
    border-right:2px solid black;
}

.car:nth-child(n+4){
    border-right:2px solid black;
}

.car .info .carName{
    position: relative;
    margin:5px;
    float: left;
}

.car .info .carPicute{
    position: absolute;
    right:0px;
    bottom:0px;
    width: 50%;
    height: 100%;
}

.car .info .carPicute img{
    position: absolute;
    right:0px;
    bottom:0px;
    max-width: 100%;
    max-height: 100%;
}

/* End car info */


/* Search filter */

#search{
    position: relative;
    margin-top:50px;
    width:750px;
    height: 50px;
}

#searchTb{
    position: absolute;

    width:95%;
    left: 0px;
    height: 30px;
    border-color: #000;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#searchBtn{
    position: absolute;
    background-color: #fff; 
    background-image: url("/Images/Search_icon.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position-x: 50%; 
    width:5%;
    right: 0px;
    height: 30px;
    border-top:2px solid #000;
    border-right:2px solid #000;
    border-bottom:2px solid #000;
    border-left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* End search filter */


/* Scale */
#distanceScale{
    box-sizing: border-box;
    position:relative;
    margin-top:50px;
    width:750px;
    height:150px;
    border: 1px solid #000;
    border-radius: 10px;
    overflow:hidden;
}


/* End */
.hidden{
    display:none;
}

