*{
    margin: 0px auto;
    padding: 0px auto;
}

#container{
    width: 900px;
    min-height: 760px;
    border: 1px solid black;
}

#carContainer{
    margin: 0px auto;
    margin-top: 100px;
    padding: 0px auto;
    width: 750px;
    min-height: 200px;
}

/* Car info css */
.car{
    position: relative;
    padding:0px;
    width: 246px;
    height: 100px;
    float:left;
}

.car > .info{
    position: absolute;
    left:50%;
    margin-left: -100px;
    width:200px;
    height: 80px;
    border: 2px solid black;
    border-radius: 5px;
}

/* First 3 childs and the rest positioning */
.car:nth-child(-n+3) > .info{
    top:0px 
}

.car:nth-child(n+4) > .info{
    bottom: 0px;
}

.car:nth-child(-n+3){
    border-bottom:2px solid black;
}
.car:nth-child(-n+2){
    border-right:2px solid black;
}

.car:nth-child(n+4){
    border-right:2px solid black;
}

.car > .info .carName{
    position: relative;
    margin:5px;
    float: left;
}

.car > .info .carPicute{
    position: absolute;
    right:0px;
    bottom:0px;
    width: 100px;
    height: 100px;
}

.car > .info .carPicute img{
    position: absolute;
    right:0px;
    bottom:0px;
    max-width: 100%;
    max-height: 100%;
}

/* End car info */

.hidden{
    display:none;
}

